<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xplorer Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/xplorer.css">
  </head>
  <body>
  <section class="header">
    <div class="container">
      <img src="/static/logo.png">
      <button type="button" class="login-btn">Login</button>
    </div>
  </section>

  <section>
    <div class="search">
        
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search a Country or City">
        <div class="input-group-append">
          <button type="submit" class="input-group-text btn">Search</button>
        </div>
      </div>
      <div class="searchtext">
        <h1>Explore Around The World</h1>
        <p>Where would you like to go?</p>
      </div>

    </div>
  </section>



  </body>
</html>
